
  <div class="container">
    <div class="row">
		 <div class="col-md-3">
		  <div class="profile-sidebar">
				<div class="profile-userpic">
         <img src="http://static.cricinfo.com/db/PICTURES/CMS/205200/205283.1.jpg" alt="pic">
        </div>
				<div class="profile-fields">
	       <form>
          <input type="text" id="firstname" name="fname"  value="Virat">
          <input type="text" id="aadhaar" name="adhr"   value="aadhaar">
          <input type="text" id="sex" name="sx"  value="sex">
          <input type="text" id="phone" name="phn"  value="phone">
          <input type="text" id="email" name="mail"  value="email"><br>
          <button type="button" class="btn btn-success btn-sm pull-right">Update</button>
			  </form>
       </div>
			</div>
  </div>
 	<div class="col-md-9">
   <div class="profile-content">News Feed...</div>
	</div>
  </div>
 </div>
